
.options-container {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background: rgba(98, 98, 98, 0.158);
    border-radius: 5px;
    justify-content: space-evenly;
  }
  select{
    color: #fff;
    font-family:'Poppins', sans-serif;;
    margin-right: 1rem;
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgba(143, 27, 192, 0.50);
    background: rgba(143, 27, 192, 0.30);
  }
/* ¿Cómo cambio el background del select? lo olvidé jaja*/
  .option {
    color: #ffffff;
    gap: 50px;
    margin-inline: 20px;
    width: 60%;
  }
  
  .search-option {
    right: 0;
    flex-grow: 1;
    gap:10rem;
  }
  .search-option input{
    width: 30rem;
    height: 2rem;
    border-radius: 5px;
    padding: 0 0.5rem;
    border: 1px solid rgba(143, 27, 192, 0.50);
    background: rgba(143, 27, 192, 0.30);
    color: #fff;
    font-family:'Poppins', sans-serif;;
  }