 <!-- SOLO MAQUETA-->

<div class="options-container">
    <div class="option">
      <select id="genre" name="genre">
        <option value="" disabled selected>Select Genre</option>
        <option value="action">Action</option>
        <option value="drama">Drama</option>

      </select>
      <select id="orderBy" name="orderBy">
        <option value="" disabled selected>Select Order by</option>
        <option value="az">A-Z</option>
        <option value="za">Z-A</option>
      </select>
    </div>
  
    <div class="option search-option">
      <input type="text" id="search" name="search" placeholder="Search...">
    </div>
  </div>
  