
  .container {
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
  }

  .movie-list {
    width: 80%;
    align-items: center;
    margin: 0 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 60px; 
    justify-content: center;
  }
  
  
  .app-card {
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  .app-card:nth-child(4n) {
    margin-right: 0;
  }
  /*para que no tengan margen a la derecha el último*/
  